@using Obligatorio_Dominio
@model Publicacion  
@{
}

<h1>Publicaciones Habilitadas</h1>

@if (ViewBag.Posts.Count > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Título</th>
                <th scope="col">Contenido</th>
                <th scope="col">Autor</th>
                <th scope="col">Tipo Reaccion</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var publicacion in ViewBag.Posts)
            {
                <tr>
                    <td>@publicacion.Titulo</td>
                    <td>@publicacion.Contenido</td>
                    <td>@publicacion.Autor.Nombre</td>
                    <td>
                    <td>
                            @if (publicacion.TipoReaccion == TipoReaccion.SinReaccion)
                            {
                            <form method="post" action="@Url.Action("SeleccionarReaccion", "Miembro")">
                                <input type="hidden" name="publicacionId" value="@publicacion.Id" />
                                <button type="submit" name="reaccion" value="Like" class="btn btn-outline-primary">Like</button>
                                <button type="submit" name="reaccion" value="Dislike" class="btn btn-outline-danger">Dislike</button>
                            </form>
                            }
                            else if (publicacion.TipoReaccion == TipoReaccion.Like)
                            {
                            <p class="text-success">Te gusta</p>
                            <form method="post" action="@Url.Action("CambiarReaccion", "Miembro")">
                                <input type="hidden" name="publicacionId" value="@publicacion.Id" />
                                <button type="submit" name="reaccion" value="Dislike" class="btn btn-outline-danger">Cambiar a Dislike</button>
                            </form>
                            }
                            else if (publicacion.TipoReaccion == TipoReaccion.Dislike)
                            {
                            <p class="text-danger">No te gusta</p>
                            <form method="post" action="@Url.Action("CambiarReaccion", "Miembro")">
                                <input type="hidden" name="publicacionId" value="@publicacion.Id" />
                                <button type="submit" name="reaccion" value="Like" class="btn btn-outline-primary">Cambiar a Like</button>
                            </form>
                            }
                    </td>

                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No hay publicaciones habilitadas para mostrar.</p>
}
